<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ftpsettings" type="ReadAppConfigExample.FtpSettingsSection, ReadAppConfigExample"/>
    <section name="smtpsettings" type="ReadAppConfigExample.SmtpSettingsSection, ReadAppConfigExample"/>
  </configSections>
  <ftpsettings>
    <add FtpHost="10.0.163.22" FtpLogin="server_login" FtpPassword="server_pass"/>
  </ftpsettings>
  <smtpsettings>
    <add SmtpHost="ny.mail.com" SmtpPort="25" EnableSsl="false" SmtpUser="paul" SmtpPassword="paul1251" ResendPeriodSec="300" />
  </smtpsettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>